
<form action="/lists" method="post">
  <dl>
    <dt>
      <label for="list_name">Enter the new name for the list:</label>
    </dt>
    <dd>
      <input name="list_name" placeholder="<%= @name %>" type="text" value="">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Save">
    <a href="/lists">Cancel</a>
  </fieldset>
</form>